body {
   text-align: center;
   background-color: #FFFFD9
}

#top {
   background-color: #fb8a8a;
   color: #ffffff;
   padding: 10px;
   margin-bottom: 15px;
}

#about img {
   width: 600px;
   height: 600px;
}

#favorite ul{
   width: fit-content;
   margin: auto;
}

#favorite .container {
   display: flex;
   justify-content: center;
}

#favorite .box {
   margin: 20px;
}

#favorite .box img {
   display: block;
   width: 280px;
   height: 200px;
   margin-bottom: 10px;
}
